@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700;800');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
section
{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
section .containerUser
{
    position: relative;
    width: 800px;
    height: 500px;
    background: #fff;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    overflow: hidden;
}
section .containerUser .user
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
section .containerUser .user .imgBox
{
    position: relative;
    width: 50%;
    height: 100%;
}
section .containerUser .user .imgBox img
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .containerUser .user .formBox
{
    position: relative;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
section .containerUser .user .formBox form h2
{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555;
}
section .containerUser .user .formBox form input
{
    position: relative;
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
}
section .containerUser .user .formBox form input[type="submit"]
{
    max-width: 100px;
    background: #677eff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
  
}
section .containerUser .user .formBox form input[type="submit"]:hover
{
    transition: 0.2s ease-out;
    cursor: pointer;
    color:white;
    background: rgb(47, 170, 47);
}


section .containerUser .user .formBox form .signup
{
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 300;
}
section .containerUser .user .formBox form .signup a
{
    font-weight: 600;
    text-decoration: none;
    color: #677eff;
}
section .containerUser .signupBx
{
    pointer-events: none
}
@media(max-width:991px)
{
    section .containerUser
    {
        max-width: 400px;
    }
    section .containerUser .imgBox
    {
        display: none;
    }
    section .containerUser  .user .formBox
    {
        width: 100%;
    }
}
