* {
  margin: 0;
  padding: 0;
}
.main {
  position: relative;
  height: 100%;
  width: 100%;
}
.main .gallery {
  position: relative;
  height: auto;
  width: 90%;
  margin: auto;
  padding: 40px 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1vh;
  grid-auto-flow: dense;
}
.main .gallery .img {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.9);
  border-radius: 2px;
  transition: all 0.2s linear;
}
.main .gallery .img:hover {
    transform: scale(1.01);

}

.main .gallery .img:first-child {
  grid-column-start: span 2;
  grid-row-start: span 2;
}
.main .gallery .img:nth-child(2n + 3) {
  grid-row-start: span 1;
}
.main .gallery .img:nth-child(4n + 5) {
  grid-column-start: span 1;
  grid-row-start: span 1;
}
.main .gallery .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.first-txt {
    position: absolute;
    top: 80px;
    left: 80px;
    color: cornsilk;
}
.view
{
    filter: brightness(50%);
}